# Maven build output
target/

# Maven wrapper jar
.mvn/wrapper/maven-wrapper.jar

# IDE project files
*.iml
.idea/
.vscode/
*.ipr
*.iws
.project
.classpath
.factorypath
.settings/
.sts4-cache/
.springBeans/
.apt_generated/

# NetBeans
nbproject/
nbbuild/
dist/
nbdist/
build/

# Other
HELP.md
fly.toml
